
.Cardcss{
    /* box-shadow:5px 5px 10px grey; */
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    transform: scale(0.9, 0.9);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out ;
    border-radius: 10px;
}

.Cardcss:hover{
    transform: translate3d(0px, 0px, 500px);
    opacity: 1;
}

